#cooking-icon{
    height: 2.5rem;
    width: 2.5rem;
}

.nav-link:hover{
    text-decoration: underline #5a5555;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.box-effect.dropdown-menu {
    border: none;
    box-shadow: 0px 1px 1px #ced5d9;
}

.box-effect .dropdown-item:hover{
    background-color: #dcdfe1;
}

/* Custom style to extend offcanvas body */
.offcanvas-body {
    max-height: 100vh;
    overflow-y: auto;
}
